@font-face {
    font-family: "ITC Franklin Gothic BookCd";
    src: local("ITC Franklin Gothic BookCd"), url("../fonts/franklin-book-cond.ttf") format("truetype");
}

@font-face {
    font-family: "Belwe Bd BT";
    src: local("Belwe Bd BT"), url("../fonts/belwe-bold.ttf") format("truetype");
}