@import "_variables";

.noDisplay {
    display: none !important;
}

.display-in-line > * > * > * {
        display: inline;
        list-style-type: none;
}

// #cart-content, #cart-btns > * {
//     border: 1px solid black !important;
// }

.confirm-btn.disabled {
    pointer-events: none;
}

.blur {
    filter: blur(1px);
}

.modal-open {
    header, .filters, .carousel {
        @extend .blur;
    }
}

.modal {
    background-color: transparent;
}

.modal-content {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    background-color: transparent;
    border-radius: .5em;
    .modal-header, .modal-footer {
        background-color: rgba($modalColor1, 0.9);
        border-radius: .5em;
    }
    .flavor {
        margin-top: 70px;
        background-color: rgba($modalColor2, 0.9);
    }
}

.carousel-control {
    background: none !important;
}

.carousel {
    background: linear-gradient(to right, rgba($carouselColor1, 1), rgba($carouselColor2, 1));
    border-radius: .5em;
    img {
        display: inline;
        max-width: 150px;
    }
}

.start-slider {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.slider {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

article {
    background: linear-gradient(to right, rgba($articleColor, 0.2), white);
    margin: 1em !important;
    padding: 1em !important;
    border-radius: 0.5em;
}