@import "_variables";
@import "_fonts";

* {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Belwe Bd BT";
}

article {
    background: linear-gradient(to right, rgba($articleColor, 0.2), white);
    margin: 1em !important;
    padding: 1em !important;
    border-radius: 0.5em;
}

.addHeading {
    font-size: 0.85em !important;
}

.no-display {
    display: none !important;
}

.btn-group-justified ul li {
    display: inline !important;
}

.confirm-btn.disabled {
    pointer-events: none;
}

// Modal
.blur {
    filter: blur(1px);
}

.modal-open {
    header,
    li,
    h1,
    .panel-group,
    .filters,
    .carousel {
        @extend .blur;
    }
}

.modal {
    background-color: transparent;
}

.modal-content {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    background-color: transparent;
    border-radius: .5em;
    .modal-header,
    .modal-footer {
        font-family: "Belwe Bd BT";
        background-color: rgba($modalColor1, 0.9);
        border-radius: .5em;
    }
    .flavor {
        font-family: "ITC Franklin Gothic BookCd", "Franklin Gothic Medium", "Franklin Gothic";
        font-size: 12pt;
        margin-top: 70px;
        background-color: rgba($modalColor2, 0.9);
    }
}

// Carousel
.carousel-control {
    background: none !important;
}

.carousel {
    background: linear-gradient(to right, rgba($carouselColor1, 1), rgba($carouselColor2, 1));
    border-radius: .5em;
    img {
        display: inline;
        max-width: 150px;
    }
}

// Pack-Slider
.start-slider {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.slider {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}